---
layout: default
title: Step By Step Web Apps with Lithium PHP
---

<div class="row">
	<div class="col-md-3 hidden-sm hidden-xs">
		<h1>Chapters</h1>
		<ol class="posts">
		{% assign url = page.url|remove:'index.html' %}
		{% for post in site.posts %}
			<li>
				{% if url == post.url %}
					&raquo; {{ post.title }}
				{% else %}
					<a href="{{ post.url  | remove_first:'/' }}">{{ post.title }}</a>
				{% endif %}
			</li>
		{% endfor %}
		</ol>
	</div>
	<div class="col-md-9" role="main">
		<p>Welcome! Please get started with the <a href="introduction.html">introduction</a>!</p>
		
		<p><a class="btn btn-success btn-lg" href="introduction.html">Start reading! &raquo;</a></p>
		
		<hr/>
	</div>
</div>