<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/syntax.css">
    </head>
    <body>
		<div class="container">
			<div class="header">
			  <h1 class="title"><a href="introduction.html">{{ site.name }}</a></h1>
			</div>

			{{ content }}
		
			<div class="panel panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title">Want the e-book?</h3>
				</div>
				<div class="panel-body">
				  If you're finding this useful, please support my writing by buying a copy of the e-book for just a few dollars. Ah, go on, it'll encourage me to keep writing! Buying the book helps fund me to write more chapters!

				  <p><a href="https://leanpub.com/step-by-step-li3/">Step by Step Li3 on Leanpub</a></p>
				  
				  <p>Please note that these docs are <b>work in progress!</b> and will grow over time! The e-book gets updated along with the web version so it's always current.</p>
				</div>
			</div>
		</div>

		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>
